@import '../../App.scss';

.header{
    background: #fab005;
    background: linear-gradient(180deg, #fab005 0%, #fcc419 100%);

    .header-cnt-top{
        border-bottom: 1px solid lighten($clr-yellow, 10%);
    }

    @media screen and (max-width: 992px) {
        .header-cnt-top{
            flex-direction: column;
            .header-cnt-top-l{
                margin-bottom: 4px;
            }
        }
    }
}